Repository RedisTimeSeries/RedisTimeSeries, pull requests merged in 2020-11, with the labels that each got.

#552 Added documentation concerning Out-of-order / backfilled ingestion performance considerations
  docs/images/compressed-out-of-order-overhead-table.png
  docs/images/compressed-overall-ops-sec-vs-out-of-order-percentage.png
  docs/images/compressed-overall-p50-lat-vs-out-of-order-percentage.png
  docs/images/uncompressed-out-of-order-overhead-table.png
  docs/images/uncompressed-overall-ops-sec-vs-out-of-order-percentage.png
  docs/images/uncompressed-overall-p50-lat-vs-out-of-order-percentage.png
  docs/out-of-order_performance_considerations.md
  mkdocs.yml
Labels: docs

#536 add and extend tests to cover more usecases
  tests/test_module.py
Labels: enhancement

#554 Create separate client libraries page on the documentation
  docs/clients.md
  docs/index.md
  mkdocs.yml
Labels: docs

#570 Optimized upsertCompaction from passing common pointers multiple times to constants
  src/tsdb.c
Labels: enhancement, performance
